
<ion-content class="login-cokhach" background="theme">
  <ion-card class="login-card">
    <ion-card-header>
      <img src="https://admin.cokhach.com/assets/logoUploads/logo_login1647681183.png" />
      <p class="tagline">Tự động nhận diện số diện thoại của khách hàng, quản lý và chăm sóc khách hàng hiệu quả</p>
    </ion-card-header>
    <ion-card-content>
      <ion-list no-line class="login-input">
        <button class="login-google" (click)="doLoginGoogle()">
          <div class="content-wrapper">
            <span id="logoG">  </span>
            <span class="text-container">Đăng nhập bằng Google</span> 
          </div> 
        </button>

        <p class="horizontal-line"><span>hoặc</span></p>

        <ion-item>
          <ion-input type="text" placeholder="Email" #username></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-input type="password" placeholder="Mật khẩu" #password></ion-input>
        </ion-item>

      </ion-list>
      <button ion-button block class="login-button" (click)="doLogin()">Đăng nhập</button>
      <ion-grid>
        <ion-row>
          <ion-col col-6><button ion-button color="light" clear (click)="pushRegister()">Tạo tài khoản</button></ion-col>
          <ion-col col-6><button ion-button color="light" clear (click)="pushForgotPW()">Quên mật khẩu</button></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
