page-login {
    $theme: #bdc3c7;
    $google: #2e86de;

    .button-ios, .button-md, .button-wp {
        padding: 0;
    }

    .login-cokhach {
        background: $theme;
    }

    .scroll-content {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    ion-card.login-card {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    ion-card-header img {
        width: 100px;
        height: 100px;
        border-radius: 5px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-top: -50px;
        position: absolute;
        box-shadow: 0 12px 20px -10px rgba(0, 0, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 0, 0, 0.2);
    }

    .tagline {
        color: #fff !important;
        white-space: normal;
        padding-top: 70px;
    }

    /* Google button */

    .login-google {
        height: 45px;
        border-width: 0;
        border-radius: 2px;
        white-space: nowrap;
        padding: 0;
        margin-top: 10px;
        display: inline-block;
        background-color: $google;
        color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
        border: 1px solid rgba(#000, 0.3);
    }

    #logoG {
        padding: 9px;
        width: 43px;
        height: 100%;
        border-radius: 1px;
        display: inline-block;
        float: left;
        background: #fff url(https://admin.cokhach.com/assets/images/g-logo-small.png) no-repeat center center;
    }

    .content-wrapper {
        height: 100%;
        min-width: 245px;
    }

    .text-container {
        display: inline-block;
        vertical-align: middle;
        letter-spacing: .21px;
        font-size: 16px;
        border: none;
        text-align: center;
        width: 200px;
        float: right;
        padding-top: 15px;
    }

    /* Google button */

    .horizontal-line {
        color: #fff !important;
        width: 100%;
        position: relative;
        overflow: hidden;
        text-align: center;
        margin: 10px 0 20px;

        & span {
            display: inline-block;
            vertical-align: baseline;
            padding: 0 20px;
        }
        
        &::before, &::after {
            content: '';
            display: block;
            width: 1000px;
            position: absolute;
            top: 0.9em;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
        }
        &::before {
            right: 60%;
        }
        &::after {
            left: 60%;
        }
    }

    ion-list.login-input .item-block:first-child {
        border: none !important;
        margin-top: 10px;
    }
    
    ion-list .item-block:last-child {
        border-bottom: 1px solid rgba(#000, 0.3) !important;
    }

    ion-list.login-input .item {
        width: 100%;
        background: rgba(#000, 0.3);
        outline: none;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(#000, 0.3);
        border: 1px solid rgba(#000, 0.3);
        border-radius: 4px;
        box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
            0 1px 1px rgba(#fff, 0.2);
        -webkit-transition: box-shadow 0.5s ease;
        -moz-transition: box-shadow 0.5s ease;
        -o-transition: box-shadow 0.5s ease;
        -ms-transition: box-shadow 0.5s ease;
        transition: box-shadow 0.5s ease;
        margin-bottom: 10px;
    }

    *::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.5) !important;
    }

    .login-button {
        background: #66A756;
        margin-top: 40px;
        padding: 23px 0;
        border: 1px solid rgba(#000, 0.3);
        -webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
        -moz-box-shadow:inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
        box-shadow:inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    }
    .login-button:focus{
        background: rgb(85, 138, 71);
    }
}
