<ion-header background="transparent">

  <ion-navbar>
    <ion-title>Tao tai khoan moi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="register-cokhach">
    <ion-card class="register-card">
      <ion-card-content>
        <ion-list no-line class="register-input">
          <button class="login-google" (click)="doLoginGoogle()">
            <div class="content-wrapper">
              <span id="logoG">  </span>
              <span class="text-container">Đăng ký bằng Google</span> 
            </div> 
          </button>
          <p class="horizontal-line"><span>hoặc</span></p>
          <ion-item>
            <ion-input type="text" placeholder="Email" #email></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input type="text" placeholder="Số điện thoại" #username></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-input type="password" placeholder="Mật khẩu" #password></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-input type="password" placeholder="Nhập lại mật khẩu" #password_confirm></ion-input>
          </ion-item>
  
        </ion-list>
        <button ion-button block class="register-button">Đăng ký</button>
      </ion-card-content>
    </ion-card>
  </ion-content>  
