
page-register {
    $theme: #bdc3c7;
    $theme_darker: #0abde3;
    $google: #4285f4;

    .register-cokhach {
        background: $theme;
    }

    .scroll-content {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    ion-card.register-card {
        background: rgba(#000, 0.15);
        border-radius: 5px;
    }

    ion-card-header {
        width: 80%;
        // background: #ffecb8;  /* default */
        background: $theme_darker;  /* fallback for old browsers */
        position: absolute;
        margin-top: -20px;
        left: 10%;
        color: #fff !important;
        border-radius: 5px;
        // text-shadow: 0 1px 1px hsla(0, 0, 0, 0.3);
        box-shadow: 0 1px 1px hsla(0, 0, 0, 0.3);
        text-transform: uppercase;
    }

    ion-list.register-input .item-block:first-child {
        border: medium none !important;
        margin-top: 70px;
    }

    ion-list.register-input .item {
        width: 100%;
        background: rgba(#000, 0.3);
        border: none;
        outline: none;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(#000, 0.3);
        border: 1px solid rgba(#000, 0.3);
        border-radius: 4px;
        box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
            0 1px 1px rgba(#fff, 0.2);
        -webkit-transition: box-shadow 0.5s ease;
        -moz-transition: box-shadow 0.5s ease;
        -o-transition: box-shadow 0.5s ease;
        -ms-transition: box-shadow 0.5s ease;
        transition: box-shadow 0.5s ease;
        margin-bottom: 10px;
    }

    *::-webkit-input-placeholder {
        color: rgba(#fff, 0.5) !important;
    }

    .register-button {
        background: #66A756;
        margin-top: 40px;
        padding: 23px 0;
        border: 1px solid rgba(#000, 0.3);
        -webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
        -moz-box-shadow:inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
        box-shadow:inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    }
    /* Google button */

    .login-google {
        height: 45px;
        border-width: 0;
        border-radius: 2px;
        white-space: nowrap;
        padding: 0;
        margin-top: 10px;
        display: inline-block;
        background-color: $google;
        color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
        border: 1px solid rgba(#000, 0.3);
    }

    #logoG {
        padding: 9px;
        width: 43px;
        height: 100%;
        border-radius: 1px;
        display: inline-block;
        float: left;
        background: #fff url(https://admin.cokhach.com/assets/images/g-logo-small.png) no-repeat center center;
    }

    .content-wrapper {
        height: 100%;
        min-width: 245px;
    }

    .text-container {
        display: inline-block;
        vertical-align: middle;
        letter-spacing: .21px;
        font-size: 16px;
        border: none;
        text-align: center;
        width: 200px;
        float: right;
        padding-top: 15px;
    }

    /* Google button */

    .horizontal-line {
        color: #fff !important;
        width: 100%;
        position: relative;
        overflow: hidden;
        text-align: center;
        margin: 10px 0 20px;

        & span {
            display: inline-block;
            vertical-align: baseline;
            padding: 0 20px;
        }
        
        &::before, &::after {
            content: '';
            display: block;
            width: 1000px;
            position: absolute;
            top: 0.9em;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
        }
        &::before {
            right: 60%;
        }
        &::after {
            left: 60%;
        }
    }
}
