<ion-tabs [selectedIndex]="myIndex">
  <ion-tab [root]="tab1Root" tabTitle="Trang Chủ" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Cài Đặt" tabIcon="options"></ion-tab>
</ion-tabs>