page-forgot-password {
    $theme: #bdc3c7;

    .forgot-cokhach {
        background: $theme;
    }

    .scroll-content {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    ion-card.forgot-card {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    ion-card-header img {
        width: 100px;
        height: 100px;
        border-radius: 5px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-top: -50px;
        position: absolute;
        box-shadow: 0 12px 20px -10px rgba(0, 0, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 0, 0, 0.2);
    }

    .tagline {
        color: #fff !important;
        white-space: normal;
        padding-top: 70px;
    }

    ion-list.forgot-input .item-block:first-child {
        border: 1px solid rgba(#000, 0.3) !important;
        margin-top: 10px;
    }

    ion-list.forgot-input .item {
        width: 100%;
        background: rgba(#000, 0.3);
        outline: none;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(#000, 0.3);
        border: 1px solid rgba(#000, 0.3);
        border-radius: 4px;
        box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
            0 1px 1px rgba(#fff, 0.2);
        -webkit-transition: box-shadow 0.5s ease;
        -moz-transition: box-shadow 0.5s ease;
        -o-transition: box-shadow 0.5s ease;
        -ms-transition: box-shadow 0.5s ease;
        transition: box-shadow 0.5s ease;
        margin-bottom: 10px;
    }

    *::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.5) !important;
    }

    .forgot-button {
        background: #66A756;
        margin-top: 40px;
        padding: 23px 0;
        border: 1px solid rgba(#000, 0.3);
        -webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
        -moz-box-shadow:inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
        box-shadow:inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    }
    .forgot-button:focus{
        background: rgb(85, 138, 71);
    }
}
