<ion-header>

  <ion-navbar>
    <ion-title>Quen mat khau</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="forgot-cokhach" background="theme">
  <ion-card class="forgot-card">
    <ion-card-header>
      <img src="https://admin.cokhach.com/assets/logoUploads/logo_login1647681183.png" />
      <p class="tagline">Nhập số điện thoại của bạn để nhận lại mật khẩu mới</p>
    </ion-card-header>
    <ion-card-content>
      <ion-list no-line class="forgot-input">

        <ion-item>
          <ion-input type="text" placeholder="Số điện thoại" #phone></ion-input>
        </ion-item>
      
      </ion-list>
      <button ion-button block class="forgot-button" (click)="doforgot()">Xác nhận</button>
    </ion-card-content>
  </ion-card>
</ion-content>

