<ion-header>
  <ion-navbar>
  <ion-buttons start>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
    <ion-title>Chọn Website</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="outer-content">
  <ion-list inset>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
      {{ item }}
    </button> 
  </ion-list>
</ion-content>
