<ion-header>

  <ion-navbar no-border-bottom>
    <ion-title>Danh sach khach hang</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="customer">
      <ion-segment-button value="online">
        Dang online
      </ion-segment-button>
      <ion-segment-button value="all">
        Tat ca
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content class="list-avatar-page outer-content">
  <div [ngSwitch]="customer">
    <ion-list *ngSwitchCase="'online'">

      <ion-list-header>Today</ion-list-header>

      <ion-item-sliding>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/img/avatar-ts-woody.png">
          </ion-avatar>
          <h2>Woody</h2>
          <p>This town ain't big enough for the two of us!</p>
          <ion-note item-end>3:43 pm</ion-note>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="text"></ion-icon>
            Text
          </button>
          <button ion-button color="secondary">
            <ion-icon name="call"></ion-icon>
            Call
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/img/avatar-ts-buzz.png">
          </ion-avatar>
          <h2>Buzz Lightyear</h2>
          <p>My eyeballs could have been sucked from their sockets!</p>
          <ion-note item-end>1:12 pm</ion-note>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="text"></ion-icon>
            Text
          </button>
          <button ion-button color="secondary">
            <ion-icon name="call"></ion-icon>
            Call
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/img/avatar-ts-jessie.png">
          </ion-avatar>
          <h2>Jessie</h2>
          <p>Well aren't you just the sweetest space toy I ever did meet!</p>
          <ion-note item-end>10:03 am</ion-note>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="text"></ion-icon>
            Text
          </button>
          <button ion-button color="secondary">
            <ion-icon name="call"></ion-icon>
            Call
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/img/avatar-ts-potatohead.png">
          </ion-avatar>
          <h2>Mr. Potato Head</h2>
          <p>You're not turning me into a Mashed Potato.</p>
          <ion-note item-end>5:47 am</ion-note>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="text"></ion-icon>
            Text
          </button>
          <button ion-button color="secondary">
            <ion-icon name="call"></ion-icon>
            Call
          </button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>

    <ion-list *ngSwitchCase="'all'">

      <ion-list-header>Yesterday</ion-list-header>

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/avatar-ts-hamm.png">
        </ion-avatar>
        <h2>Hamm</h2>
        <p>You heard of Kung Fu? Well get ready for pork chop.</p>
        <ion-note item-end>11:11 pm</ion-note>
      </ion-item>

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/avatar-ts-slinky.png">
        </ion-avatar>
        <h2>Slinky Dog</h2>
        <p>I may not be a smart dog, but I know what roadkill is.</p>
        <ion-note item-end>8:54 pm</ion-note>
      </ion-item>

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/avatar-ts-rex.png">
        </ion-avatar>
        <h2>Rex</h2>
        <p>Were you scared? Tell me honestly.</p>
        <ion-note item-end>7:22 am</ion-note>
      </ion-item>

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/avatar-ts-bullseye.png">
        </ion-avatar>
        <h2>Bullseye</h2>
        <p>Neigh!</p>
        <ion-note item-end>2:08 am</ion-note>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
