<ion-menu [content]="content">
<ion-header>

  <ion-navbar>
    <ion-title>Tùy Chọn</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="outer-content">
  <ion-list>
    <ion-list-header>
      Công Cụ
    </ion-list-header>
    <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
      <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
      {{ p.title }}
    </button>
    </ion-list>
    <ion-list>
    <button ion-item (click)="doLogout()">
      <ion-icon name="log-out" item-start></ion-icon>
      Thoát
    </button>
  </ion-list>
</ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>